// .hero{
//     height: 45vh;
//     width: 100vw; 
//     position: relative;
//     img{
//         width: auto;
//         height: 100%;
//     }

    
// }

.heroText{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 35%;
    left: 3%;

    .heroTitle{
        font-size: 2em;
        max-width: 500px;
        font-weight: bolder;
        
    }
    .heroByLine{

    }
}